html, body
	font-family: $source-sans-pro
	font-size: 16px
	line-height: 1
	color: $on-secondary
	max-width: 100%
	position: relative
	-webkit-font-smoothing: antialiased !important

*
  box-sizing: border-box

*::before,
*::after
  box-sizing: border-box

body
	-webkit-tap-highlight-color: transparentize($highlight, 0.8)

::selection, img::selection
  background: transparentize($highlight, 0.8)

textarea
	resize: vertical

input, textarea, select
	font-family: inherit
	outline: none
	border: none

	&:focus
		outline: none

button
	font-family: inherit
	border: none

	&:focus
		outline: none

ul, ol
	padding: 0
	margin: 0
	list-style: none

li
  list-style-type: none

hr
	height: 1px
	border: none
	border-bottom: 1px solid $highlight
	margin: 20px 0

a:link, a:visited, a:active, a:hover
  text-decoration: none

a
  color: $on-primary

.huge, .large, h1, h2, h3, h4, h5, h6, p
  color: $on-secondary
  margin: 0

.large, h1, h2, h3, h4, h5, h6, p
  font-family: $playfair-display
  font-weight: 400

.huge
  font-family: $playfair-display
  font-weight: 400
  font-size: 7rem
  line-height: 1.20

.large
	font-size: 5rem
	line-height: 1.15

h1
	font-size: 3.5rem
	line-height: 1.10

h2
	font-size: 3rem
	line-height: 1.05

h3
	font-size: 2.2rem

h4
	font-size: 1.6rem

h5
	font-size: 1.4rem

h6
	font-size: 1.2rem
