.load
    @include fade-in-animation()

.section-title
	text-transform: uppercase
	font-family: $source-sans-pro
	color: #EDE7F6

.section-text
	font-family: $source-sans-pro
	color: $primary
	line-height: 1.4

.body-container
	background-image: url($body-image)