// Font's
$playfair-display: 'Playfair Display', serif
$source-sans-pro: 'Source Sans Pro', sans-serif

// Colours
$primary: #9E9E9E
$secondary: #263238

$highlight: #9E9E9E

// Asset locales
$base-dir: '../../'
$image-dir: 'img'

$body-image: '#{$base-dir}#{$image-dir}/body.png'
$post-body-image: '#{$base-dir}#{$image-dir}/post-body.png'
$me-image: '#{$base-dir}#{$image-dir}/me.jpg'

$all4-image: '#{$base-dir}#{$image-dir}/all4.jpg'
$rtl-image: '#{$base-dir}#{$image-dir}/rtl.png'
$nrk-image: '#{$base-dir}#{$image-dir}/nrk.jpg'

// Breakpoints
$mobile: 'max-width: 600px'
$tablet-portrait: 'max-width: 900px'
$tablet-landscape: 'max-width: 1200px'
$desktop: 'max-width: 1500px'
$desktop-large: 'max-width: 1800px'
