// Font's
$playfair-display: 'Playfair Display', serif
$source-sans-pro: 'Source Sans Pro', sans-serif

// Colours
$primary: #263238
$secondary: #ff0266
$on-primary: #eeeeee
$on-secondary: #263238

$highlight: #eeeeee

// Asset locales
$base-dir: '../../'
$image-dir: 'img'

$example-image: '#{$base-dir}#{$image-dir}/example-image.png'

// Breakpoints
$tablet-portrait: 'min-width: 600px'
$tablet-landscape: 'min-width: 900px'
$desktop: 'min-width: 1200px'
$desktop-large: 'min-width: 1800px'
