// Font's
$playfair-display: 'Playfair Display', serif
$source-sans-pro: 'Source Sans Pro', sans-serif

// Colours
$primary: #263238
$secondary: #ff0266
$on-primary: #e0e0e0
$on-secondary: #263238

$highlight: #e0e0e0

// Asset locales
$base-dir: '../../'
$image-dir: 'img'

$body-image: '#{$base-dir}#{$image-dir}/body.png'
$me-image: '#{$base-dir}#{$image-dir}/me.jpg'

$all4-image: 'https://pbs.twimg.com/profile_images/1101105817305124865/hgE77ydp_400x400.png'
$rtl-image: '#{$base-dir}#{$image-dir}/rtl.png'
$nrk-image: '#{$base-dir}#{$image-dir}/nrk.jpg'

// Breakpoints
$tablet-portrait: 'min-width: 600px'
$tablet-landscape: 'min-width: 900px'
$desktop: 'min-width: 1200px'
$desktop-large: 'min-width: 1800px'
