// Font's
$playfair-display: 'Playfair Display', serif
$source-sans-pro: 'Source Sans Pro', sans-serif

// Colours
$font-color: #202124
$white: #fff
$highlight: #e0f7fa

// Asset locales
$base_dir: '../../assets'
$image_dir: '/img'

$example-image: '#{$base}#{$img}/example.png'

// Breakpoints
$phone-only: 'max-width: 599px'
$tablet-portrait: 'min-width: 600px'
$tablet-landscape: 'min-width: 900px'
$desktop: 'min-width: 1200px'
$desktop-large: 'min-width: 1800px'
