#about
  height: 600px
  display: flex

  .header
    flex: 50%
    height: inherit
    flex-direction: column
    @extend %center

    & > p, .section-title, .huge
      width: 500px

  .portrait-container
    @extend %center
    flex: 50%

    .portrait
      background-image: url($me-image)
      background-position: center center
      background-size: cover
      width: 400px
      height: 400px
      background-color: $highlight
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)