#blog
  width: 100%
  height: 600px
  background-color: $highlight
  display: flex
  position: relative

  .blog-skew-left
    flex: 50%
    background-color: inherit
    transform: skewY(-20deg)
    transform-origin: bottom right

  .blog-skew-right
    flex: 50%
    background-color: inherit
    transform: skewY(20deg)
    transform-origin: bottom left

  .blog-caption
    position: absolute
    right: 100px
    top: 40%

    .link-to-blog
      position: relative
      margin: 0 auto
      display: block
      margin-top: 35px
      background-color: $secondary
      color: $on-primary
