#blog
  height: 600px
  @extend %center

  .blog-text
    flex: 50%
    flex-direction: column
    @extend %center

    .section-title, .section-text
      width: 400px
      margin-bottom: 20px
  
  .blog-grid
    flex: 50%
    flex-direction: column
    @extend %center

    .blog-grid-carousel
      @extend %center

      .blog-grid-items
        @extend %center
        justify-content: flex-start
        width: 200px
        overflow: hidden
        translation: transform 300ms ease 

        .blog-grid-item
          width: inherit

          .poster
            height: inherit
            background-color: white
        
          & > p
            width: 200px
            margin-top: 20px

    .chevron
      margin-right: 10px
      margin-left: 10px
      cursor: pointer
    
    .button
      margin-top: 20px