#contact
  min-height: 600px
  @extend %center

  @include respond-to($tablet-portrait)
    flex-direction: column-reverse

  .contact-form
    flex: 50%
    @extend %center

    form
      width: 500px
      padding: 40px

      input::placeholder, textarea::placeholder
        color: $primary

      a
        display: block
        margin: 0 auto

      input[type=text], input[type=email], textarea
        width: 100%
        padding: 10px
        margin-bottom: 10px
        background-color: #ECECEC

      textarea
        height: 150px
        resize: none

      @include respond-to($tablet-portrait)
        width: 300px
        padding: 0px

  .contact-text
    flex: 50%
    flex-direction: column
    @extend %center

    .section-title
      color: #E1F5FE

    .section-title, .section-text
      width: 400px

      @include respond-to($tablet-portrait)
        width: 300px

    .section-title, .section-text:not(:last-child)
      margin-bottom: 20px

    .socials
      width: 400px
      margin-bottom: 20px

      a
        color: $secondary

        &:not(:last-child)
          margin-right: 10px

      @include respond-to($tablet-portrait)
        width: 300px
