.post-container
  background-color: white
  width: 700px
  margin: 60px auto 0px auto
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

  .post-title-treatment
    padding: 40px

  .post-category
    text-transform: uppercase
    font-family: $source-sans-pro
    color: #E8EAF6

  .post-title
    color: $secondary
    margin-bottom: 20px

  .post-subtitle
    font-family: $source-sans-pro
    margin-bottom: 20px

  .meta
    @extend %center
    justify-content: flex-start

    .post-author-image
      width: 50px
      height: 50px
      border-radius: 50%
      margin-right: 20px

  .separator
    @extend %center

    .chevron
      color: #E8EAF6

    .line
      height: 2px
      width: 200px
      line-height: 48px
      background-color: #E8EAF6

  .post-content
    padding: 40px

    p
      line-height: 1.8

  @include respond-to($tablet-portrait)
    width: auto
    margin: auto


