.post-container
  background-color: white
  width: 700px
  margin: 60px auto 0px auto
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

  .post-title-treatment
    padding: 40px

  .post-category
    text-transform: uppercase
    font-family: $source-sans-pro
    color: #E8EAF6

  .post-title
    color: $secondary
    margin-bottom: 20px

  .post-subtitle
    font-family: $source-sans-pro
    margin-bottom: 20px

  .meta
    @extend %center

    .post-date, .post-author, .post-author-name
      flex: 33.33%
      text-align: center

    .post-author-image
      width: 100px
      height: 100px
      border-radius: 50%

  .separator
    @extend %center

  .post-content
    padding: 40px

    p
      line-height: 1.8

  span
    margin: 0 auto
    width: 300px
    height: 2px
    background-color: #E8EAF6

  @include respond-to($tablet-portrait)
    width: auto
    margin: auto


