#projects
  width: 100%
  height: 500px
  background-color: $secondary
  position: relative
  z-index: 2
  flex-direction: column
  @extend %center

  & > h3
    text-align: center
    position: absolute
    top: 60px

  .play-icon
    cursor: pointer

    &.clicked
      animation-name: loading
      animation-duration: 2s
      animation-fill-mode: forwards

  .projects-container
    display: none
    align-items: center

    &.clicked
      animation-name: slide-up
      animation-delay: 1s
      animation-duration: 1s
      animation-fill-mode: forwards

    .project
      padding: 30px

      .project-image
        @extend %center
        width: 150px
        height: 150px

      .project-caption
        text-align: center
        width: 150px
        line-height: 1.8

.projects-skew
  width: 100%
  height: 500px
  background-color: $secondary
  transform: skewY(2deg)
  transform-origin: bottom left
  position: absolute
  z-index: 1

@keyframes loading
  0%
    transform: rotate(0deg)
    opacity: 1

  50%
    transform: rotate(-90deg)
  
  100%
    transform: rotate(-90deg) translateX(230px)
    opacity: 0

@keyframes slide-up
  from
    transform: translateY(-100px)

  to
    transform: translateY(0px)
    display: flex
