---
layout: default
---

<div class="post-container">
    <div class="post-title-treatment">
        <h3 class="post-category">{{ page.category }}</h3>
        <h1 class="large post-title">{{ page.title }}</h1>
        <h4 class="post-subtitle">{{ page.subtitle }}</h4>
        <div class="meta">
            <img class="post-author-image" src="{{ page.author_image | prepend: site.url }}" />
            <p class="post-meta">By {{ page.author }}, {{ page.date }}</p>
        </div>
    </div>

    <div class="separator">
        <span class="line"></span>
        <span class="fas fa-caret-right fa-3x chevron"></span>
        <span class="line"></span>
    </div>

    <div class="post-content">{{ content }}</div>
</div>